<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restaurent</title>
</head>
<body>
    <header>
        <h1><%= restaurent.name %></h1>
    </header>

    <main>
        <h2>Reviews</h2>
        <ul>
            <% reviews.forEach(review => { %>
                <li><%= review.text %></li>
            <% }) %>
        </ul>
    </main>
    
</body>
</html>